.container {
    margin: 10px 7% 30px 13%;
    text-align: center;
    position: relative;
}

.promotion {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px #eee;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
    border: #000 2px solid;
}

.statusRowWrapper {
    margin: 10px 20px 10px 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.statusWrapper {
    margin-top: 0px;
    position: relative;
    right: 50px;
    background-color: #FFD564;
    border-radius: 20px;
    border: #000 2px solid;
}

.status {
    margin: 5px 20px;
    font-size: 1.2em;
    text-align: center;
    color: #000;
}

.contentWrapper{
    margin: 0px 20px;
}

.text {
    margin: 5px 0px;
    font-size: 1em;
    text-align: left;
}

.textHighlight {
    color: #f50057;
    font-size: 1.2em;
    margin: 0px;
}