.create-promotion-wrapper {
    margin-top: 75px;
    margin-bottom: 30px;
}

.input-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 5%;
    margin-right: 5%;
}

.left-button-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    opacity: 0;
}

.show {
    opacity: 1;
}

.create-promotion-title {
    width: 90%;
    border: #000 2px solid;
    border-radius: 10px;
    line-height: 40px;
    font-size: 1.2em;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
}

.create-promotion-title:focus {
    border: #D81B60 2px solid;
    color: #D81B60;
}

.create-promotion-description {
    width: 90%;
    border: #000 2px solid;
    border-radius: 10px;
    font-size: 1.2em;
    line-height: 30px;
    padding: 10px;
    outline: none;
    font-family:"Helvetica Neue", Helvetica, sans-serif;
    resize: none
}

.create-promotion-description:focus {
    border: #D81B60 2px solid;
    color: #D81B60;
}

.subtask-not-focus {
    width: 80%;
    border: #000 2px solid;
    border-radius: 10px;
    font-size: 1.2em;
    line-height: 30px;
    padding: 10px;
    outline: none;
    font-family:"Helvetica Neue", Helvetica, sans-serif;
    resize: none
}

.subtask-not-focus:focus {
    border: #D81B60 2px solid;
}

.visits-not-focus {
    width: 30%;
    border: #000 2px solid;
    border-radius: 10px;
    font-size: 1.2em;
    line-height: 30px;
    padding: 10px;
    outline: none;
    text-align: center;
    font-family:"Helvetica Neue", Helvetica, sans-serif;
    resize: none,
}

.visits-not-focus:focus {
    border: #D81B60 2px solid;
}

.DateInput {
    width: 95px;
    text-align: center;
}

.DateInput_input {
    padding: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.DateInput_input__focused {
    border-bottom: #D81B60 2px solid;
}

.DateRangePickerInput_arrow {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover {
    background-color: #D81B60;
    border: 1px double #D81B60
}

.CalendarDay__hovered_span, .CalendarDay__hovered_span:hover {
    background-color: #F5C6D7;
    border: 1px double #D81B60;
    color: #000;
}

.CalendarDay__selected_span {
    background-color: #F5C6D7;
    border: 1px double #D81B60;
    color: #000;
}

.DayPickerKeyboardShortcuts_show__bottomRight {
    opacity: 0;
}
  