.imageCutter{
    width: 100vw;
    height: 60vw;
    overflow: hidden;
    display:flex;
    justify-content:center;
    align-items:center;
}

.title, .restaurant{
    text-align: center;
}

.description {
    padding: 3px;
}
.promotionDetails{
    margin-left: 10px;
    margin-right: 10px;
}

.promotionDetails > * {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-items: center;
}
