.dashboard {
    margin: 30px 10%;
    text-align: center;
}

.card-wrapper {
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px #eee;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
}

.status-id-wrapper {
    margin: 10px 20px 10px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.status-wrapper {
    margin-top: 0px;
    position: relative;
    right: 50px;
    background-color: #2a3eb1;
    border-radius: 20px;
}

.status {
    margin: 5px 20px;
    font-size: 1.2em;
    text-align: center;
    color: white;
}

.message-id-wrapper {
    margin-top: 0px;
    color: #f50057;
    font-size: 1.2em;
    text-align: end;
}

.message-id {
    margin: 5px 0px;
}

.message-wrapper {
    margin: 0px 20px;
}

.message {
    margin: 0px;
    font-size: 1em;
    text-align: left;
}

.message-highlight {
    color: #f50057;
    font-size: 1.2em;
    margin: 0px;
}

.button-row-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    text-align: end;
}